*,
p {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-color: rgb(13, 104, 40);
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	width: 100%;
	height: 100%;
}

/************************************ NAVABR **********************************/

.nav-container {
	background-color: rgb(13, 104, 40);
	display: flex;
	flex-direction: column;
	padding: 1rem 25px;
	row-gap: 1rem;
}

.logo {
	width: 50px;
	height: 50px;
}

.nav-flex {
	display: flex;
	align-items: center;
	column-gap: 8px;
	color: white;
	height: 25px;
	position: relative;
}

#close-icon {
	color: white;
	position: absolute;
	right: 35px;
	font-size: 20px;
}

.desktop-nav {
	display: none;
}

.nav-mobile-container {
	display: flex;
	padding: 1rem;
}

.user-img {
	width: 60px;
	border-radius: 50%;
	height: 60px;
	object-fit: cover;
}

.user-img img {
	border-radius: 50%;
}

.logo-nav-mobile {
	width: 50%;
	text-align: end;
}

/***************************************** CONNEXION *************************************/

.connexion-container {
	padding: 25px;
	background-color: rgb(13, 104, 40);
	min-height: 100vh;
	color: white;
}

.connexion-info {
	margin-top: 20px;
}

.connexion-info h1 {
	font-weight: 700;
}

.connexionLogo {
	width: 100px;
}

.connexion-btn-container p:first-child {
	margin-top: 1rem;
	margin-bottom: 8px;
}

.or {
	margin-top: 8px;
	margin-bottom: 8px;
	margin-left: 55px;
}

.active-btn,
.seconde-btn {
	border: none;
	padding: 5px 10px;
	width: 150px;
	border-radius: 5px;
	color: white;
}

.active-btn {
	background-color: rgb(243, 94, 65);
}

.seconde-btn {
	color: rgb(243, 94, 65);
	background-color: transparent;
	border: 1px solid rgb(243, 94, 65);
}

.register-form {
	display: none;
	position: absolute;
	left: 10%;
	top: 48%;
}

.register-form,
.login-form {
	margin-top: 15px;
}

.register-form label,
.login-form label,
.update-form label {
	display: block;
	font-size: 22px;
}

.register-form input,
.login-form input,
.update-form input {
	width: 100%;
	margin: 5px 0;
}

.login-form {
	display: none;
	position: absolute;
	left: 10%;
	top: 48%;
}

/*********************************************************** HOME ***************************************************/

#post-focus {
	position: absolute;
	background-color: rgba(0, 0, 0, 0.603);
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.comment {
	margin: 25px;
	background-color: white;
	padding: 10px;
	position: relative;
}

#close-comment {
	position: absolute;
	top: 15px;
	right: 15px;
}

.add-comment-post {
	margin-top: 15px;
}

.add-comment-post input {
	padding: 5px;
	width: 100%;
	margin-bottom: 10px;
}

.all-comment {
	margin-top: 15px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.226);
	padding-bottom: 8px;
}

.comment-user-info {
	display: flex;
	align-items: center;
	column-gap: 8px;
	margin-bottom: 5px;
}


#post-form {
	padding: 1rem;
}

.post {
	padding-top: 1rem;
	padding-left: 1rem;
	padding-bottom: 8px;
	border-top: 1px solid rgba(224, 222, 222, 0.514);
}

.post-user-info,
.show-message-user-info {
	display: flex;
	align-items: center;
	column-gap: 8px;
	margin: 10px 0;
}

.post h5,
.show-users h5,
.show-message-user-info h5 {
	font-size: 1.5rem;
	color: white;
}

.post p,
.show-users,
.post h2,
.post h4 {
	color: white;
	;
}

.show-users-container {
	display: none;
}

.add-comment-btn,
.add-like-btn,
.delete-post-btn {
	background-color: transparent;
	border: none;
}

.post-icon-container {
	display: flex;
	margin-top: 8px;
	column-gap: 30px;
}

#comment-icon,
.heart-icon,
.delete-icon {
	color: rgba(224, 222, 222, 0.514);
	transition: all 0.3s ease-in-out;
	padding: 5px;
	border-radius: 40%;
}

.post-icon-container p {
	color: rgba(255, 255, 255, 0.747);
}

.comment-icon-container,
.heart-icon-container,
.delete-icon-container {
	transition: all 0.3s ease-in-out;
	padding: 5px 0px;
	border-radius: 40%;
	width: 25px;
}

#comment-icon:hover {
	background-color: rgba(243, 95, 65, 0.363);
	color: rgb(243, 94, 65);
}

.heart-icon:hover {
	background-color: rgba(248, 29, 0, 0.342);
	color: rgb(248, 29, 29);
}

/********************************* MY PROFILE ***********************/


.user-profile {
	display: flex;
	padding: 1rem;
	align-items: center;
}

.user-info h3 {
	margin: 8px 0;
	font-size: 1.6rem;
	color: white;
}

.user-follows {
	display: flex;
	column-gap: 8px;
}

.user-follows span {
	color: white;
}

.user-follows p,
.user-profile p {
	font-style: italic;
	color: rgba(231, 229, 229, 0.568);
}

.update-form-container,
.show-following-container {
	width: 100%;
	height: 100%;
	background-color: rgba(12, 12, 12, 0.397);
	padding: 15px;
	position: absolute;
	display: none;
}

.update-form {
	background-color: white;
	padding: 5px;
	border-radius: 8px;
	position: relative;
}

.update-form h2 {
	font-size: 1.7em;
	font-weight: bold;
}

.update-form i {
	position: absolute;
	top: 5px;
	right: 5px;
}

.show-following-container {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.show-following {
	display: flex;
	flex-direction: column;
	background-color: white;
	max-width: 450px;
	padding: 15px;
	margin: auto;
}

.show-following-flex {
	display: flex;
	align-items: center;
	column-gap: 8px;
	margin-top: 15px;
}

.show-liked-post {
	display: none;
}

.post-and-like-container {
	display: flex;
	column-gap: 20px;
	padding: 0 1rem;
}

.post-and-like-container p {
	color: white;
}

.post-and-like-container-active {
	border-bottom: 3px solid rgb(243, 94, 65);
}

/********************************** SEARCH ****************************/

.search-title,
.search-form-container,
.show-post h2 {
	color: white;
	padding: 10px 15px;
}

.search-container {
	position: relative;
}

.search-container input {
	border: none;
	padding: 5px 35px;
	border-radius: 8px;
}

.search-container button {
	background-color: transparent;
	border: none;
	position: absolute;
	left: 5px;
	top: 5px;
}

.search-container i {
	opacity: 0.5;
}

/************************************** MESSAGE ********************************/
.show-message-user-info {
	margin-bottom: 20px;
}

.show-message {
	border-top: 1px solid rgba(224, 222, 222, 0.514);
	padding: 15px;
}

.message-container {
	padding: 15px 0;
}

.my-message {
	display: flex;
	align-items: center;
	justify-content: end;
	
}

.my-message p {
	background-color: rgb(243, 94, 65);
	color: white;
}

.received-message p {
	background-color: white;
	color: black;
}

.received-message p,
.my-message p {
	
	text-align: end;
	width: 150px;
	border-radius: 5px;
	padding: 10px;
	margin-top: 10px;
	position: relative;
	z-index: 5;
}

.my-message p::before {
	content: "";
	position: absolute;
	width: 13px;
	height: 13px;
	background-color: rgb(243, 94, 65);
	left: -3px;
	bottom: -1px;
	border-bottom-right-radius: 50%;
	border-top-left-radius: 50%;
	z-index: -1;
}

.received-message p::before {
	content: "";
	position: absolute;
	width: 13px;
	height: 13px;
	background-color: white;
	left: -3px;
	bottom: -1px;
	border-bottom-right-radius: 50%;
	border-top-left-radius: 50%;
	z-index: -1;
}

@media screen and (min-width: 698px) {

	/**************** NAVBAR *****************/
	.desktop-nav {
		display: block;
		border-right: 1px solid rgba(224, 222, 222, 0.514);
	}

	#close-icon {
		display: none;
	}

	.nav-container {
		width: 20%;
	}

	.nav-flex i {
		width: 25px;
	}

	.body {
		display: flex;
		width: 60%;
		margin: auto;
	}

	.nav-mobile-container {
		display: none;
	}

	/***************************************** CONNEXION *************************************/

	.connexion-container {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.connexion-flex {
		display: flex;
		column-gap: 45px;
	}

	.connexion-info h1 {
		font-size: 45px;
	}

	.connexionLogo {
		width: 250px;
	}


	.login-form,
	.register-form {
		left: 60%;
		top: 45%;
	}

	/*********************************************************** HOME ***************************************************/

	.show-post,
	.show-liked-post {
		width: 500px;
	}

	.show-users-container {
		display: block;
		border-left: 1px solid rgba(224, 222, 222, 0.514);
		padding: 1rem;
	}

	/************************************** PAGE PROFILE ******************/

	.update-form-container {
		background-color: rgba(12, 12, 12, 0.397);
		padding: 15px;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
	}

	.update-form {
		left: 50%;
		transform: translateX(-50%);
		top: 25%;
		max-width: 500px;
		padding: 25px;
	}


	.comment {
		width: 600px;
		margin: 150px auto;
	}
}